<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{views/layout/main}">
<head>
<meta charset="UTF-8">
<title>นิสิต</title>
</head>
<body layout:fragment="content">
	<div class="app-title">
	   <div>
	      <h1><i class="icon fa fa-address-card-o" aria-hidden="true" ></i> นิสิต</h1>
	   </div>
	   <ul class="app-breadcrumb breadcrumb">
	      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
	      <li class="breadcrumb-item"><a th:href="@{/home/}">หน้าหลัก</a></li>
	      <li class="breadcrumb-item"><span>นิสิต</span></li>
	   </ul>
	</div>
	
	<!-- body -->
	<div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="bs-component">
                <button class="btn btn-primary" type="button">นิสิต ชั้นปีที่ 1</button>
                <button class="btn btn-primary" type="button">นิสิต ชั้นปีที่ 2</button>
                <button class="btn btn-primary" type="button">นิสิต ชั้นปีที่ 3</button>
                <button class="btn btn-primary" type="button">นิสิต ชั้นปีที่ 4</button>
              </div>
            </div>
          </div>
     </div>
</body>
</html>