<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
 >
<head>
	<meta charset="UTF-8">
	
	<link rel="apple-touch-icon" sizes="57x57" href="/img/webfavicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/webfavicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/webfavicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/webfavicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/webfavicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/webfavicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/webfavicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/webfavicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/webfavicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/webfavicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/webfavicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/webfavicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/webfavicon/favicon-16x16.png">
	<link rel="manifest" href="/img/webfavicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
	<meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@pratikborsadiya">
    <meta property="twitter:creator" content="@pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vali Admin">
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme">
    <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
    <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
    <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/theme/docs/css/main.css}"  href="docs/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    	
      <!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	
	<!-- font -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
<title>เข้าสู่ระบบ</title>
</head>
<body>
	<section class="material-half-bg"><div class="cover"></div> </section>
    <section class="login-content">
      <div class="logo">
        <h1>Compouter Engineering</h1>
      </div>
      <div class="login-box">
        <form class="login-form" th:action="@{/home/loginSubmit}" method="post">
          <h3 class="login-head"><i class="fa fa-sign-in  fa-lg fa-fw" aria-hidden="true"></i>เข้าสู่ระบบ</h3>
          <div class="form-group">
            <label class="control-label">ชื่อผู้ใช้งาน</label>
            <input class="form-control" type="text" th:field="${form.username}" placeholder="อีเมลล์" autofocus>
          </div>
          <div class="form-group">
            <label class="control-label">รหัสผ่าน</label>
            <input class="form-control" type="password" th:field="${form.password}" placeholder="รหัส">
          </div>
          <div class="form-group">
            <div class="utility">
              <div class="animated-checkbox">
                <label>
                  <input type="checkbox"><span class="label-text">จดจำรหัส</span>
                </label>
              </div>              
            </div>
          </div>
          <div class="form-group btn-container">
            <button type="button" class="btn btn-primary btn-block" onclick="login.onClicklogin();"><i class="fa fa-sign-in fa-lg fa-fw"></i>เข้าสู่ระบบ</button>
          </div>
        </form>
        <form class="forget-form" action="index.html">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
          <div class="form-group">
            <label class="control-label">EMAIL</label>
            <input class="form-control" type="text" placeholder="Email">
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
          </div>
          <div class="form-group mt-3">
            <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
          </div>
        </form>
      </div>
    </section>
    
</body>
</html>