<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{views/layout/main}">
<head>
<meta charset="UTF-8">
<title>คณะอาจารย์</title>
</head>
<body  layout:fragment="content">

	<div class="app-title">
	   <div>
	      <h1><i class="fa fa-users" aria-hidden="true"></i> อาจารย์</h1>
	   </div>
	   <ul class="app-breadcrumb breadcrumb">
	      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
	      <li class="breadcrumb-item"><a th:href="@{/home/}">หน้าหลัก</a></li>
	      <li class="breadcrumb-item"><span>คณะอาจารย์</span></li>
	   </ul>
	</div>
	<div class="form-group row ">
		<div class="pull-right">
			<button class="btn btn-primary">Add +</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="tile">			            
	            <img alt="user" th:src="@{/img/user-icon/user-icon.png}" style="width: 100%">
				<br><br>
	            <p class="tile-title">ชื่ออาจารย์</p>
	            <p>ตำแหน่ง : -</p>
	            <p>Homepage : <a href="#">www.homepage.com</a></p>
	            <a th:href="@{/professor/profile}" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> โปรไฟล์</a>
	        </div>
        </div>
        <div class="col-md-3">
			<div class="tile">			            
	            <img alt="user" th:src="@{/img/user-icon/user-icon.png}" style="width: 100%">
				<br><br>
	            <p class="tile-title">ชื่ออาจารย์</p>
	            <p>ตำแหน่ง : -</p>
	            <p>Homepage : <a href="#">www.homepage.com</a></p>
	            <a th:href="@{/professor/profile}" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> โปรไฟล์</a>
	        </div>
        </div>
        <div class="col-md-3">
			<div class="tile">			            
	            <img alt="user" th:src="@{/img/user-icon/user-icon.png}" style="width: 100%">
				<br><br>
	            <p class="tile-title">ชื่ออาจารย์</p>
	            <p>ตำแหน่ง : -</p>
	            <p>Homepage : <a href="#">www.homepage.com</a></p>
	            <a th:href="@{/professor/profile}" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> โปรไฟล์</a>
	        </div>
        </div>
        <div class="col-md-3">
			<div class="tile">			            
	            <img alt="user" th:src="@{/img/user-icon/user-icon.png}" style="width: 100%">
				<br><br>
	            <p class="tile-title">ชื่ออาจารย์</p>
	            <p>ตำแหน่ง : -</p>
	            <p>Homepage : <a href="#">www.homepage.com</a></p>
	            <a th:href="@{/professor/profile}" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> โปรไฟล์</a>
	        </div>
        </div>
	</div>	
	<div class="row">
		<div class="col-md-3">
			<div class="tile">			            
	            <img alt="user" th:src="@{/img/user-icon/user-icon.png}" style="width: 100%">
				<br><br>
	            <p class="tile-title">ชื่ออาจารย์</p>
	            <p>ตำแหน่ง : -</p>
	            <p>Homepage : <a href="#">www.homepage.com</a></p>
	            <a th:href="@{/professor/profile}" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> โปรไฟล์</a>
	        </div>
        </div>
        <div class="col-md-3">
			<div class="tile">			            
	            <img alt="user" th:src="@{/img/user-icon/user-icon.png}" style="width: 100%">
				<br><br>
	            <p class="tile-title">ชื่ออาจารย์</p>
	            <p>ตำแหน่ง : -</p>
	            <p>Homepage : <a href="#">www.homepage.com</a></p>
	            <a th:href="@{/professor/profile}" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> โปรไฟล์</a>
	        </div>
        </div>
        <div class="col-md-3">
			<div class="tile">			            
	            <img alt="user" th:src="@{/img/user-icon/user-icon.png}" style="width: 100%">
				<br><br>
	            <p class="tile-title">ชื่ออาจารย์</p>
	            <p>ตำแหน่ง : -</p>
	            <p>Homepage : <a href="#">www.homepage.com</a></p>
	            <a th:href="@{/professor/profile}" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> โปรไฟล์</a>
	        </div>
        </div>
        <div class="col-md-3">
			<div class="tile">			            
	            <img alt="user" th:src="@{/img/user-icon/user-icon.png}" style="width: 100%">
				<br><br>
	            <p class="tile-title">ชื่ออาจารย์</p>
	            <p>ตำแหน่ง : -</p>
	            <p>Homepage : <a href="#">www.homepage.com</a></p>
	            <a th:href="@{/professor/profile}" class="btn btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i> โปรไฟล์</a>
	        </div>
        </div>
	</div>		
</body>
</html>