<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<link rel="apple-touch-icon" sizes="57x57" href="/img/webfavicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/webfavicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/webfavicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/webfavicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/webfavicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/webfavicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/webfavicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/webfavicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/webfavicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/webfavicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/webfavicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/webfavicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/webfavicon/favicon-16x16.png">
	<link rel="manifest" href="/img/webfavicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
 	<meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@pratikborsadiya">
    <meta property="twitter:creator" content="@pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vali Admin">
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme">
    <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
    <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
    <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/theme/docs/css/main.css}"  href="docs/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    	
      <!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	
	<script type="text/javascript" th:src="@{/js/layout/main.js}" src="main.js"></script>
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	 <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">


</head>
<body class="app sidebar-mini rtl pace-done">

	<header class="app-header"><a class="app-header__logo"th:href="@{/home/}">Engineering UP</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <li class="app-search">
          <input class="app-search__input" type="search" placeholder="Search">
          <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
          <ul class="app-notification dropdown-menu dropdown-menu-right">
            <li class="app-notification__title">You have 4 new notifications.</li>
            <div class="app-notification__content">
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Lisa sent you a mail</p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Mail server not working</p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Transaction complete</p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a></li>
              <div class="app-notification__content">
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Lisa sent you a mail</p>
                      <p class="app-notification__meta">2 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Mail server not working</p>
                      <p class="app-notification__meta">5 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Transaction complete</p>
                      <p class="app-notification__meta">2 days ago</p>
                    </div></a></li>
              </div>
            </div>
            <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
          </ul>
        </li>
        
        <!-- User Menu-->
        <li><a class="app-nav__item" th:href="@{/home/login}" style="text-decoration: none !important;"><i class="fa fa-sign-out fa-lg"></i> Login</a></li>
        <!-- <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
          </ul>
        </li> -->
      </ul>
    </header>
<!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/img/subject/subjectLogo.png}" style="width:30px; height:45px;"alt="">
        <div>       	  
          <p class="app-sidebar__user-name">วิศวกรรมคอมพิวเตอร์</p>
          <p class="app-sidebar__user-designation">มหาวิทยาลัยพะเยา</p>
        </div>
      </div>
      <ul class="app-menu">
        <li ><a class="app-menu__item" th:href="@{/home/}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">หน้าหลัก</span></a></li>
        <li th:class="${activeStudents == 'true' || activeProfessor == 'true'}? 'treeview is-expanded' : treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">บุคลากร</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a th:class="${activeProfessor == 'true'}? 'treeview-item active' : 'treeview-item'" th:href="@{/professor/}"><i class="icon fa fa-circle-o"></i> อาจารย์</a></li>
            <li><a th:class="${activeStudents == 'true'}? 'treeview-item active' : 'treeview-item'" th:href="@{/students/}"><i class="icon fa fa-circle-o"></i> นิสิต</a></li>
          </ul>
        </li>
        <li><a class="app-menu__item" th:href="@{/portfolio/}"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">ผลงาน</span></a></li>
        <li><a class="app-menu__item" href="#"><i class="fa fa-ravelry" aria-hidden="true"> </i><span class="app-menu__label">&nbsp;งานกิจกรรม</span></a></li>
         <li th:class="${activeTutorial == 'true'} ? 'treeview is-expanded' : 'treeview'"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">การเรียนการสอน</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a th:class="${activeTutorial == 'true'} ? 'treeview-item active' : 'treeview-item'" th:href="@{/tutorial/Y1}"><i class="icon fa fa-circle-o"></i> ชั้นปีที่ 1</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> ชั้นปีที่ 2</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> ชั้นปีที่ 3</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> ชั้นปีที่ 4</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Forms</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Components</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Custom Components</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Samples</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Form Notifications</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Tables</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Basic Tables</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Data Tables</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Pages</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Blank Page</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Login Page</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Lockscreen Page</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> User Page</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Invoice Page</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Calendar Page</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Mailbox</a></li>
            <li><a class="treeview-item" href="#"><i class="icon fa fa-circle-o"></i> Error Page</a></li>
          </ul>
        </li>
      </ul>
    </aside>
	 <main class="app-content" >
      <div class="app-title" layout:fragment="content">
      </div>
     </main>

   
    <!-- Essential javascripts for application to work-->
    <script th:src="@{/theme/docs/js/jquery-3.2.1.min.js}" src="docs/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/theme/docs/js/popper.min.js}" src="docs/js/popper.min.js"></script>
    <script th:src="@{/theme/docs/js/bootstrap.min.js}" src="docs/js/bootstrap.min.js"></script>
    <script  th:src="@{/theme/docs/js/main.js}" src="docs/js/main.js"></script>
    
    <!-- The javascript plugin to display page loading on top-->
    <script th:src="@{/theme/docs/js/plugins/pace.min.js}" src="docs/js/plugins/pace.min.js"></script>
    
    <!-- Page specific javascripts-->
    <script type="text/javascript" th:src="@{/theme/docs/js/plugins/bootstrap-notify.min.js}" src="docs/js/plugins/bootstrap-notify.min.js"></script>
    <script type="text/javascript" th:src="@{/theme/docs/js/plugins/sweetalert.min.js}" src="docs/js/plugins/sweetalert.min.js"></script>
    
</body>

</html>